<div
  *ngIf="!isLoading; else loadSpinner"
  class="container py-4 out-circle-center"
>
  <div class="card mb-3 shadow-lg border-0">
    <div class="row g-0">
      <!-- Poster -->
      <div class="col-md-4">
        <img
          *ngIf="movie.poster_path; else placeholder"
          [src]="'https://image.tmdb.org/t/p/w780' + movie.poster_path"
          class="img-fluid rounded-start"
          alt="Poster"
        />
      </div>

      <!-- Info -->
      <div class="col-md-8">
        <div class="card-body d-flex flex-column h-100 justify-content-between">
          <div>
            <h3 class="card-title fw-bold text-primary">{{ movie.title }}</h3>
            <p class="card-text text-muted">
              <small>Fecha de lanzamiento: {{ movie.release_date }}</small>
            </p>
            <p class="card-text">{{ movie.overview }}</p>
            <p class="card-text">Generos:</p>
            <ul class="list-group list-group-flush">
              <li *ngFor="let genre of movie.genres" class="list-group-item">
                {{ genre.name }}
              </li>
            </ul>
          </div>

          <div class="d-flex justify-content-between align-items-center mt-3">
            <span class="badge bg-warning text-dark fs-6">
              ⭐{{ movie.vote_average }}
            </span>
            <button
              (click)="isFavorite() ? removeFromFavorites() : addToFavorites()"
              class="btn btn-danger"
            >
              <i class="bi bi-heart-fill me-2"></i>
              {{ isFavorite() ? "Quitar de favoritos" : "Agregar a favoritos" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadSpinner>
  <app-loading></app-loading>
</ng-template>

<ng-template #placeholder>
  <app-no-image></app-no-image>
</ng-template>
<app-error-message [errorMessage]="errorMessage"></app-error-message>
