<div
  *ngIf="!isLoading; else loadSpinner"
  class="container-fluid p-0 animate__animated animate__fadeInUp"
>
  <div class="row g-4">
    <app-movies-list [popularMovies]="popularMovies"></app-movies-list>
  </div>
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (next)="nextPage()"
    (prev)="prevPage()"
  ></app-pagination>
</div>

<ng-template #loadSpinner>
  <app-loading></app-loading>
</ng-template>

<app-error-message [errorMessage]="errorMessage"></app-error-message>
